body{
	background-image: linear-gradient(blue,cyan); 
	font-family: 'Caveat', cursive;
	font-size: 120%;
	color: black;
}
@media (max-width:700px) and (min-width: 400px){
	body{
		background-image: linear-gradient(red,yellow); 
	}
	ol li{
		font-size: 30px;	
	}
}
.TituloEncabezado {
	width: 100%;
	height: 300px;
	display:flex;
	align-items: center;
	flex-direction: column;
	background-image: url("imagenes/ImagenDeDespedida.png");
}
.TituloEncabezado__Titulo{
	color: white;
	font-style: italic;
	text-transform: uppercase;
}
.nombre{
	font-style: italic;
	text-transform: uppercase;
	color: purple;
}
.menu{
	padding: 2%;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	background-color: cyan;
	height: 30px;
	font-size: 25px;
}
.SeleccionMenu:hover{
	font-size: 30px;
	text-transform: uppercase;
}
.Biografia{
	display: flex;
	justify-content: center;
}
.Video{
	display: flex;
	justify-content: center;
}
.Footer{
	width: 100%;
	height: 200px;
}
.Piedepagina{
	display: flex;
	align-items: flex-end;
}
.Piedepagina__Footer{
	width: 100%;
	height: 200px;
}

.redesSociales{
	font-style: italic;
	text-transform: uppercase;
	color: blue;
}
ol{
	border: 1px solid black;
	background-color: rgb(50,144,255);
	list-style-type: none;
	font-size: 50px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
@media (max-width:700px) and (min-width: 400px){

	ol {
		background-color: rgb(255,128,0);
	}
}
.ig:hover img,.fb:hover img,.ds:hover img,.yt:hover img,.tt:hover img,.tw:hover img{
	animation-name: giro;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-delay: 0s;
}

@keyframes giro{
	from{transform: rotateY(0deg) scale(1.66,1.66);}
	to{transform: rotateY(90deg) scale(1.66,1.66);}
}

ol li:hover{
	font-size: 60px;
}
.Youtube{
	font-style: italic;
	text-transform: uppercase;
	color: red;
}
.contenedorYoutube{
	background-image: linear-gradient(blue,cyan);
	display: grid;
	width: 100%;
	grid-template-columns: 2fr 1.5fr 1fr;
}
@media (max-width:700px) and (min-width: 400px){
	.contenedorYoutube{
	background-image: linear-gradient(red,yellow);
	}
}

.TituloGameplay{
	grid-column: 1 / 4;
	justify-content: flex-start;
	padding-left: 1%;
	margin-top: 0%;
}
.video{
	grid-column: 1 / 3;
	grid-row: 2/4;
	justify-content: center;
	padding-left: 2%
}
.descripcion{
	grid-column: 2 / 4;
	grid-row: 2 / 3;
	justify-content: flex-start;
	padding-left: 5%;
	margin-left: 0%;
	font-size: 150%;
}
.Textodescripcion{
	grid-column: 2 / 4;
	grid-row: 3/4;
	justify-content: flex-start;
	padding-left: 5%;
	margin-left: 0%;
	font-size: 150%;
}
.Recomendados{
	font-style: italic;
	text-transform: uppercase;
	color: yellow;
}
h2{
	display: flex;
	justify-content: center;
}
.canales{
	display: flex;
	justify-content: space-between;
}
.canales a{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.canales a:hover{
	animation-name: giro;
	animation-duration: 2s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.canales__Streamer{
	border-radius: 50%;
}
.Seguidores{
	font-style: italic;
	text-transform: uppercase;
	color: green;
}
.Seguidor{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.Seguidor__cajita{

}
.Seguidor__patita{
	width: 100px;
	height: 100px;
	animation-name: patitas;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 5s;
	animation-delay: 0s;
}
@keyframes patitas{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(90deg);}
}
.Email{	
	color: green;
}
.Formulario{
	border: 1px solid black;
}
.Cuadrotexto{
	width:40%;
	height: 100px;
	transition: all 1s;
}
.Cuadrotexto:focus{
	width: 60%;
	height: 200px;
	font-size: 20px;
}